<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" th:href="@{/css/product.css}">
</head>
<body>
<form th:action="@{/products/{productId}/update(productId=${product.id})}" enctype="multipart/form-data" method="post"
      th:object="${product}">
    <label for="name">Product name:
        <input id="name" type="text" name="name" th:value="*{name}">
    </label><br>
    <label for="description">Product description:
        <input id="description" type="text" name="description" th:value="*{description}">
    </label><br>
    <label for="type">Product type:
        <input id="type" type="text" name="type" th:value="*{type}">
    </label><br>
    <label for="color">Product color:
        <input id="color" type="text" name="color" th:value="*{color}" oninput="updateColorPreview()">
        <div id="color-preview"
             style="display:inline-block; width:30px; height:30px; margin-left:10px; border: 1px solid #000;"></div>
    </label><br>
    <label for="price">Price:
        <input id="price" type="text" name="price" th:value="*{price}">
    </label><br>

    <button type="submit">Update</button>
</form>
</body>
<script>
    // Функция для динамического изменения цвета при вводе
    function updateColorPreview() {
        const colorInput = document.getElementById('color').value;
        const colorPreview = document.getElementById('color-preview');
        colorPreview.style.backgroundColor = colorInput; // Меняем цвет фона блока
    }

    // Устанавливаем цвет при загрузке страницы на основе значения, полученного из базы
    window.onload = function () {
        const colorInput = document.getElementById('color').value; // Получаем значение цвета из input
        const colorPreview = document.getElementById('color-preview');
        colorPreview.style.backgroundColor = colorInput; // Устанавливаем начальный цвет
    }
</script>
</html>